{% extends '_layout.njk' %}

{% block content %}
<div class="container-fluid">
  <form action="/entry/add" method="post">
    <div class="form-group w-25 p-3">
      <input type="text" class="form-control" name="name" placeholder="Name">
      <br>
      <select class="form-select" name="quadrant">
        {% for quad in quadrants %}
          <option value="{{ quad }}">{{ quad }}</option>
        {% endfor %}
      </select>
      <br>
      <select class="form-select" name="ring">
        {% for ring in rings %}
          <option value="{{ ring }}">{{ ring }}</option>
        {% endfor %}
      </select>
      <br>
      <textarea class="form-control" name="description" placeholder="Description"></textarea>

      <input type="submit" class="btn btn-primary mt-3" value="Add">
    </div>
</div>
{% endblock %}
