{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block pageTitle %}AI Unit - Techradar{% endblock %}</title>
{% endblock %}

<body>
  {% block content %}{% endblock %}

  <script src="/static/main.js"></script>
</body>
