{% extends '_layout.njk' %}

{% block content %}
<div style="display: none;" id="radarData">{{ radar }}</div>
<div class="container-fluid">
  <svg id="radar"></svg>
</div>
{% endblock %}

{% block bodyEnd %}
<script src="/static/radar.js"></script>
{% endblock %}
